<img src="" >
<table>
  <thead>
    <tr>
      <th>やること</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    
    <%= form_for(@task) do |f| %>
      <div><%= f.label :title %></div>
      <div><%= f.text_field :title %></div>
      <div><%= f.label :limitDay %></div>
      <div><%= f.text_field :limitDay %></div>
      <div style="display:none"><%= f.text_field :status, value:0 %></div>
      <div><%= f.submit %></div>
    <% end %>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.limitDay %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task_path(task), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
