<h1>タスク一覧</h1>
<table>
  <thead>
    <tr>
      <th>タスク名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <h1>タスク編集</h1>
    <%= form_for(@task) do |f| %>
      <div><%= f.label :title %></div>
      <div><%= f.text_field :title %></div>
      <div><%= f.label :limitDay %></div>
      <div><%= f.text_field :limitDay %></div>
      <div><%= f.submit %></div>
    <% end %>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.limitDay %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task_path(task), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
